.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  width: 115%;
}

.action {
  display: flex;
  gap: 5px;
}
  mat-toolbar{
  background-color: #391f98;
  width: 115%;
}
mat-form-field{
  width: 100%;
}